In [48]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [21]:
t_train = pd.read_csv("train.csv")
t_test = pd.read_csv("train.csv")

The Survival Guide Translated in Python

In [ ]:
Data Cleaning

In [22]:
### Checking which columns have NA values
#t_train.isnull().any()  returns Boolean list of columns with NA or not


t_train.columns[t_train.isnull().any()]

Index(['Age', 'Cabin', 'Embarked'], dtype='object')

In [24]:
## Number of NA values in columns with NAs


t_train[['Age','Cabin','Embarked']].isnull().sum()

Age         177
Cabin       687
Embarked      2
dtype: int64

In [25]:
# Nullify Cabin, Drop  Embarked NA rows, Give median to Age NA values


t_train.drop('Cabin', axis=1, inplace=True)

In [37]:
#Drop Embarked NA rows
t_train = t_train[t_train['Embarked'].notnull()]

In [38]:
#Check if  Embarked has na

t_train['Embarked'].isnull().sum()

0

In [39]:
## Give Age na values median value

med = t_train['Age'].median


t_train['Age'] = t_train['Age'].fillna(value=med)

FEATURE ENGINEERING

In [46]:
#Family unit or not

def nuking (row):
    if row['SibSp'] >= 1 and row['Parch']>=1:
      return 1
    else:
        return 0
    


t_train['NUKEFM_or_Not'] = t_train.apply (lambda row: nuking (row),axis=1)

In [58]:
########## create a variable that designates if they are a Miss or Not

def missing(row):
    if row['Age'] >= 18 and row['Name'].str.contain("Miss"):
       return 1
    else:
       return 0   


#t_train['Miss_or_Not'] = t_train.apply (lambda row: nuking (row),axis=1)
t_train.apply (lambda row: missing (row),axis=1)

AttributeError: ("'str' object has no attribute 'str'", 'occurred at index 0')

In [59]:
t_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
PassengerId      889 non-null int64
Survived         889 non-null int64
Pclass           889 non-null int64
Name             889 non-null object
Sex              889 non-null object
Age              889 non-null object
SibSp            889 non-null int64
Parch            889 non-null int64
Ticket           889 non-null object
Fare             889 non-null float64
Embarked         889 non-null object
NUKEFM_or_Not    889 non-null int64
dtypes: float64(1), int64(6), object(5)
memory usage: 130.3+ KB